@import "tailwindcss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
} 

#root{
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: black;
}
